<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	
    <!--为com.mjl.model设置别名  方便调用-->
    <typeAliases>
        <!-- <typeAlias alias="UserBean" type="com.project.bean.UserBean"/> -->
        <!-- 默认用类的名字来作为类型别名 -->
  		<package name="com.project.bean"/>
    </typeAliases>
    
    
</configuration>