@CHARSET "UTF-8";

.code_warning,.blank_warning,.false_warning,.phone_warning,.username_warning,.password_warning,.repassword_warning{visibility: hidden;color: red;}

		.phoneReg {text-decoration: underline;}

		.phoneReg:hover {color: black !important;}

		.get_code {font-size: 14px;background-color: lightgrey;}

		.get_code:hover {cursor: pointer;}

		.code_point {background-color: lightgrey !important;color: yellow !important;}
		.notshow{display: none;}
		.tologin{display: inline-block;float: right!important;margin-right: 0px!important;width: 150px;height: 100%;text-decoration: underline;color: black!important;font-size: 14px;}
		.tologin:hover{color: black !important;}